body {
    margin: 0;
    overflow: hidden;
    background-color: #303030;
    text-align: center;
}

#render-container {
    width: 100vw;
    height: 100vh;
}

code {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    text-align: left;
}